.counterContainer {
  width: 99%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0px;
  font-family: var(--font-bis);
}

.pokemonCard {
  background-color: var(--plight);
  border-radius: 1em;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.pokemonCardSprite {
  height: 120px;
  width: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pokemonCardTitle {
  font-size: 32px;
  height: 38px;
  margin: 0;
}

.pokemonCardComment {
  font-size: 20px;
  height: 20px;
  font-style: italic;
  margin: 0;
}

.pokemonCardBtns {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.pokemonCardLess {
  width: 58px;
  height: 40px;
  border-radius: 0.3em;
  background-color: var(--white);
  color: var(--pink);
}

.pokemonCardMore {
  width: 86px;
  height: 40px;
  border-radius: 0.3em;
  background-color: var(--pink);
  color: var(--white);
}

.pokemonCardCaptured {
  font-size: 20px;
  margin: 10px;
  border-radius: 0.5em;
  width: 65%;
  height: 40px;
  background-color: var(--blue);
  color: var(--white);
}

.lastCaptured {
  bottom: 20px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.lastCapturedSprite {
  width: 100px;
  height: auto;
  background-color: var(--blue);
  border-radius: 1em;
  padding: 1px;
}
